<h1><%= t("pastes.edit.title") %></h1>

<%= render "form", paste: @paste %>

<p>
  <%= link_to t("common.actions.cancel"), paste_path(@paste) %> |
  <%= link_to t("common.actions.list"), pastes_path %>
</p>
