<h1>내가 쓴 글</h1>
<p><%= link_to "목록으로", pastes_path %></p>

<% @pastes.each do |paste| %>
  <div>
    <%= link_to paste do %>
      [<%= paste.tag %>] <%= time_ago_in_words(paste.created_at) %> ago
    <% end %>
  </div>
<% end %>
