<% content_for :ga_event, "new_paste_view" %>
<% content_for :ga_params, { is_logged_in: logged_in? }.to_json %>

<h1><%= t("pastes.new.title") %></h1>

<%= render "form", paste: @paste %>

<p class="paste-links">
  <%= link_to t("common.actions.list"), pastes_path, class: "login-button" %>
</p>
