<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <% flash_class = ["flash", "flash-#{type}"] %>
  <% flash_class << "flash-manage-link" if type.to_s == "manage_url" %>
  <div class="<%= flash_class.join(" ") %>"><%= message %></div>
<% end %>
